doctype html
html(lang='en')
  head
    style(type='text/css').
      .container {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 1% 10%;
        text-align: center;
        color: #333;
        font-family: Helvetica, Arial;
      }
      h1 img {
        height: 30px;
        width: auto;
      }
  body
    .container
      h1
        img(alt='Traildock', src='https://cdn.traildock.com/images/traildock-text.png')
      block content
