extends layout

block content
  p
    | A password reset request has been submitted for your Traildock account.  If you didn't initiate this request, please let us know.
  p
    a(href=baseUrl + path) Click here to complete your password reset
  p
    | or if the link doesn't appear above, copy and paste the following into your browser: #[a(href=baseUrl + path) #{ baseUrl + path }]
