extends layout

block content
  h2 Welcome to Traildock!
  p
    | We're excited to have you along for the ride...or walk, or whatever else it is that you like to do out on the trail.
  p
    a(href=(verifyHref)) Click here to complete your registration
  p
    | or if the link doesn't appear above, copy and paste the following into your browser #[a(href=(verifyHref)) #{verifyHref}]
