extends layout

block content
  h2 Welcome to Traildock!
  p
    | We're excited to have you along for the ride...or walk, or whatever else it is that you like to do out on the trail.
  p
    | Learn more about Traildock.com at #{traildockUrl}/mission.  Log in at #{traildockUrl}/login

