body #header {
  background-color: #DCE5E8 !important;
  height: 30px !important;
  box-shadow: -3px -2px 7px #333;
}
.traildock-logo {
  display: inline-block;
  width: auto;
  height: 30px;
  margin: 3px 0 0;
}
.api {
  display: inline-block;
  padding: 0 0 20px 5px;
  position: relative;
  top: -1px;
}
.accessTokenDisplay {
  color: #000 !important;
}
